name: Build Nintendo DS ROM

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: devkitpro/devkitarm:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: make

      - name: Upload NDS
        uses: actions/upload-artifact@v4
        with:
          name: nds-rom
          path: "*.nds"
